.datepicker {
  position: relative;
  color: #2b2b2b;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Calibri', 'Roboto';
}

.datepicker__calendar {
  position: absolute;
  top: 1.75rem;
  height: 25.5rem;
  width: 20.5rem;
  z-index: 1000;
  color: #333333;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: default;
  overflow: hidden;
}

.datepicker__calendar__cancel {
  color: #d8d8d8;
  cursor: pointer;
  position: absolute;
  bottom: 24px;
  left: 25px;
}

.datepicker__calendar__cancel:hover {
  color: #b1b1b1;
  transition: 0.37s;
}

.datepicker__calendar__content {
  margin-top: 14px;
  padding: 0 15px;
  display: flex;
  flex-flow: wrap;
}

.datepicker__calendar__label {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  color: #d8d8d8;
}

.datepicker__calendar__month__day {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  margin: 5px;

  transition: .2s color;
}

.datepicker__calendar__month__day--chosen-day {
  background-color: #1285bf;
  color: #fff;
}

.datepicker__calendar__month__day--chosen-day:hover {
  color: #fff !important;
}

.datepicker__calendar__month__day--current-day {
  background-color: #f1f1f1;
}

.datepicker__calendar__month {
  display: flex;
  flex-flow: wrap;
  height: 210px;
}

.datepicker__calendar__month__day:hover {
  color: #1285bf;
}

.datepicker__calendar__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.datepicker__calendar__nav__arrow {
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: 0.37s;
}

.datepicker__calendar__nav__arrow:hover {
  transform: scale(1.2);
}

.datepicker__calendar__nav__chevron {
  fill: #bbbbbb;
  transition: 0.37s;
}

.datepicker__calendar__nav__chevron:hover {
  fill: #2b2b2b;
}

.datepicker__calendar__nav__header {
  width: 11rem;
  margin: 0 1rem;
  text-align: center;
}

.datepicker__input {
  font-size: 1rem;
  color: #2b2b2b;
  outline: none;
  border: 0.1rem solid #dadada;
  border-radius: 0.1rem;
  padding: 0.2rem;
}

.datepicker__calendar__month--animate-left {
  animation: 0.2s animateLeftMonthChange;
}

.datepicker__calendar__month--animate-right {
  animation: 0.2s animateRightMonthChange;
}


@-webkit-keyframes animateLeftMonthChange {
    50%  {
      transform: translateX(105%);
    }

    50.1% {
      transform: translateX(-105%);
    }
}

@-webkit-keyframes animateRightMonthChange {
    50%  {
      transform: translateX(-105%);
    }

    50.1% {
      transform: translateX(105%);
    }
}
